<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
    <img src="https://www.raspberrypi.org/app/uploads/2018/03/RPi-Logo-Reg-SCREEN.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    MY-PI
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">

            {{#if data.user.loggedIn}}
                <a class="nav-link" href="/user/logout">Logout</a>
            {{else   }}
                {{#eq data.pageTitle "Login" }}
                    <a class="nav-link" href="/user/register">Register</a>
                {{/eq}}
                {{#eq data.pageTitle "Register" }}
                    <a class="nav-link" href="/user/login">Login</a>
                {{/eq}}
                {{#eq data.pageTitle "Home" }}
                    <a class="nav-link" href="/user/login">Login</a>
                {{/eq}}
            {{/if}}
        </li>
        </ul>
        <div class="col-6 text-center">
            <h3>{{data.title}}</h3>
            <p>Welcome to {{data.piName}}</p>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>