<nav class="navbar navbar-expand-lg navbar-light bg-success pt-2 pb-2 text-white pl-2 m-0" >
    <a class="navbar-brand text-white" href="/">
    <img src="https://www.raspberrypi.org/app/uploads/2018/03/RPi-Logo-Reg-SCREEN.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    MY-PI
    </a>
    <div class="w-50 pagination-centered d-none d-lg-block">
        <h5 class="text-right"> Welcome to {{pageInfo.appTitle}}</h5>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto pr-2">
            <li class="nav-item text-center"><a class="btn btn-success" href="/">Home</a></li>
            <li class="nav-item text-center">
                {{#if userInfo.isLoggedIn}}
                    <a class="btn btn-success" href="/user/logout">Logout</a>
                {{else}}
                    {{#eq pageInfo.pageTitle "Login" }}
                        <a class="btn btn-success" href="/user/register">Register</a>
                    {{/eq}}
                    {{#eq pageInfo.pageTitle "Register" }}
                        <a class="btn btn-success" href="/user/login">Login</a>
                    {{/eq}}
                    {{#eq pageInfo.pageTitle "Home" }}
                        <a class="btn btn-success" href="/user/login">Login</a>
                    {{/eq}}
                {{/if}}
            </li>
        </ul>
    </div>
</nav>