<div class="col-3 bg-primary page-height">
    <ul class="nav flex-column text-center p-0 m-0">
    <li class="nav-item ">
        <a class="nav-link text-white active" href="#">Add Device to Master</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">Configure Device</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">Account info</a>
    </li>
    </ul>
</div>